.advantages {
  padding-top: 119px;
  padding-bottom: 116px;
  background-color: #f8f9fc;
}

.advantages__title {
  font-family: $Bebas-Neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  text-align: center;
  margin-bottom: 66px;
}

.advantages__wrapp {
  max-width: 1040px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.advantages__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  width: 400px;
  min-height: 157px;
  box-sizing: border-box;
}

.advantages__number {
  & p {
    margin: 0;
  }

  & p:first-of-type {
    display: block;
    width: 102px;
    height: 53px;
    margin-bottom: 5px;
  }

  & p:last-of-type {
    font-size: 14px;
    line-height: 21px;
  }
}

.advantages__item--square {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 340px;
    height: 1px;
    background-color: rgba(209, 10, 66, 0.2);
    bottom: -2px;
    left: 0;
  }
}

.advantages__item--parking {
  position: relative;
  margin-left: auto;

  &::before {
    content: "";
    position: absolute;
    width: 340px;
    height: 1px;
    background-color: rgba(209, 10, 66, 0.2);
    bottom: -2px;
    left: 61px;
  }
}

.advantages__item--square,
.advantages__item--comfort {
  padding-left: 30px;

  & .advantages__text {
    & p:last-of-type {
      width: 185px;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      margin: 0;
    }
  }

  & .advantages__number {
    margin-right: 34px;
  }
}

.advantages__item--comfort {
  padding-top: 75px;
}

.advantages__item--experience {
  padding-top: 75px;
}

.advantages__text {
  & p:first-of-type {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    margin-bottom: 5px;
  }

  & p:last-of-type {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}

.advantages__item--parking,
.advantages__item--experience {
  padding-left: 64px;

  & .advantages__number {
    margin-left: 0;
    margin-right: 31px;

    & p:first-of-type {
      width: 68px;
    }
  }

  .advantages__text {
    width: 235px;
  }
}

.advantages__best {
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  min-height: 307px;
  background-color: #1c3374;
  color: #ffffff;
  padding: 62px 34px 40px 34px;
  box-sizing: border-box;

  & svg {
    margin-bottom: 6px;
    width: 104px;
    height: 56px;
  }

  & p {
    margin: 0;
  }

  & p:first-of-type {
    font-size: 26px;
    line-height: 39px;
    font-weight: bold;
    margin-bottom: 33px;
  }
}

@media (max-width: $table-width) {
  .advantages {
    padding-top: 95px;
    padding-bottom: 89px;
  }

  .advantages__title {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 41px;
  }

  .advantages__wrapp {
    padding-left: 45px;
    padding-right: 45px;
  }

  .advantages__item {
    width: 339px;
  }

  .advantages__item--square,
  .advantages__item--comfort {
    padding-left: 0;
  }

  .advantages__number {
    & p {
      margin: 0;
    }

    & p:first-of-type {
      width: 86px;
      height: 43px;
      margin-bottom: 5px;
      padding-top: 7px;
    }

    & p:last-of-type {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .advantages__item--square,
  .advantages__item--parking {
    margin-bottom: 169px;

    &::before {
      content: none;
    }
  }

  .advantages__item--parking,
  .advantages__item--experience {
    padding-left: 15px;

    .advantages__text {
      width: 230px;
    }

    & .advantages__number {
      margin-left: 0;
      margin-right: 31px;

      & p:first-of-type {
        width: 55px;
      }
    }
  }

  .advantages__text {
    & p:first-of-type {
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .advantages__best {
    width: 442px;
    min-height: 239px;
    padding-top: 45px;
    padding-left: 135px;
    padding-right: 135px;

    & svg {
      width: 105px;
      height: 55px;
      margin-bottom: 0;
    }

    & p:first-of-type {
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 73px;
    padding-bottom: 22px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .advantages__wrapp {
    padding-left: 0;
    padding-right: 0;
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .advantages__item {
    width: 230px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;

    & .advantages__number {
      margin-right: 0;
      text-align: center;

      & p:first-of-type {
        margin-bottom: 7px;
        padding-top: 0;
      }

      & p:last-of-type {
        margin-bottom: 6px;
      }
    }
  }

  .advantages__text {
    text-align: center;

    & p:first-of-type {
      margin-bottom: 2px;
    }
  }

  .advantages__best {
    width: 100%;
    min-height: 239px;
    position: static;
    transform: none;
    padding-left: 74px;
    padding-right: 74px;
    margin-bottom: 46px;
  }

  .advantages__item--parking,
  .advantages__item--experience {
    padding-left: 0;
  }

  .advantages__item--comfort,
  .advantages__item--experience {
    padding-top: 0;
  }
}
