.best-deal {
  display: flex;
  margin-bottom: auto;
  min-height: 462px;
}

.best-deal__text {
  width: 280px;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 46px;
  padding-left: 45px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  & p {
    &:first-of-type {
      font-weight: bold;
      font-size: 28px;
      line-height: 44%;
      margin: 0;
      margin-bottom: 9px;

      & b {
        font-size: 70px;
        line-height: 129%;
      }
    }

    &:last-of-type {
      font-size: 18px;
      line-height: 25px;
      margin: 0;
    }
  }
}

.best-deal__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-top: auto;

  &:hover {
    color: #ffb5b5;
  }
}

@media (max-width: $table-width) {
  .best-deal {
    margin-bottom: 32px;
  }

  .best-deal__text {
    width: 41%;

    & p {
      &:first-of-type {
        width: 142px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .best-deal {
    flex-wrap: wrap;
    min-height: 598px;
  }

  .best-deal__text {
    width: 100%;
    min-height: 290px;
    text-align: center;
    padding-right: 45px;

    & p {
      &:first-of-type {
        margin: 0 auto;
        margin-bottom: 4px;
      }
    }

    &:last-of-type {
      margin-bottom: 32px;
    }
  }
}
