.feedback {
  width: 50%;
  padding-top: 61px;
  padding-bottom: 69px;
  box-sizing: border-box;

  & form {
    width: 410px;
  }
}

.feedback__title {
  width: 370px;
  word-break: break-word;
  font-family: $Bebas-Neue;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 31px;
}

.feedback__wrapp-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;

  & input[type="text"] {
    width: 190px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #74819C;
    box-sizing: border-box;
    height: 30px;
    color: #ffffff;
  }

  & input::placeholder {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
  }
}

.feedback__btn {
  border: 3px solid #ffffff;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #ffffff;
}

@media (max-width: $table-width) {
  .feedback {
    width: 100%;
    padding-top: 61px;
    padding-bottom: 70px;
    padding-left: 133px;
    padding-right: 162px;
    background-color: #102654;

    & form {
      width: 100%;
      box-sizing: border-box;;
    }
  }

  .feedback__title {
    width: 100%;
    font-size: 42px;
    line-height: 42px;
  }

  .feedback__wrapp-input {
    & input[type="text"] {
      width: 43.8%;
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 68px;
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feedback__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 32px;
  }

  .feedback__wrapp-input {
    flex-wrap: wrap;
    margin-bottom: 39px;
  }

  .feedback__wrapp-input {
    & input[type="text"] {
      width: 100%;
    }

    & input[name="name"] {
      margin-bottom: 30px;
    }
  }
}
