.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 110px;
}

.footer-social__item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }

  &:first-of-type {
    padding-top: 2px;
  }
}

.footer-social__link {
  display: flex;

  &:hover svg {
    opacity: 0.7;
  }
}
