.merit-list {
  width: 160px;
  display: none;
  position: absolute;
  list-style: outside;
  margin: 0;
  padding: 0;
  top: 0;
  padding-left: 70px;
  padding-top: 131px;
}

.merit-list__item {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 13px;
}
