.page-header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  line-height: 21px;

  & a {
    font-family: "Bebas Neue", "Arial", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-header;
  }
}

.page-header__logo {
  letter-spacing: 0.02em;
}

.page-header__tel {
  letter-spacing: 0.04em;
}

@media (max-width: $table-width) {
  .page-header {
    padding-top: 38px;
    letter-spacing: 0.02em;
    padding-bottom: 20px;

    & a {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .page-header__tel {
    letter-spacing: 0.03em;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 19px;
    letter-spacing: 0.02em;

    & a {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
