.social-head {
  width: 65px;
  min-height: 75px;
  text-align: right;
}

.social-head__item {
  margin-bottom: 19px;

  &:last-of-type {
    margin-bottom: 0;
  }

  & a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-header;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}
