.stocks {
  padding-top: 119px;
  padding-bottom: 60px;

  & h2 {
    font-family: $Bebas-Neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0;
    margin-bottom: 52px;
  }
}

.stocks__best {
  width: 560px;
  background-color: #ed0233;
  background-image: url("../img/stocks-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 280px 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/stocks-desktop@2x.jpg");
  }
}

.stocks__container {
  width: 48.276%;
}

.stocks__friend {
  width: 100%;
}

.stocks__discount {
  width: 100%;
}

.stocks__wrapp {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $table-width) {
  .stocks {
    padding-top: 99px;

    & h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 42px;
    }
  }

  .stocks__wrapp {
    flex-wrap: wrap;
  }

  .stocks__best {
    width: 100%;
    min-height: 460px;
    margin-bottom: 32px;

    background-image: url("../img/stocks-tablet@1x.jpg");
    background-position: 100% 0;
    background-size: 399px 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stocks-tablet@2x.jpg");
    }
  }

  .stocks__container {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .stocks__friend {
    width: 47.789%;
  }

  .stocks__discount {
    width: 47.789%;
  }
}

@media (max-width: $mobile-width) {
  .stocks {
    padding-top: 70px;
    padding-bottom: 20px;

    & h2 {
      font-size: 32px;
      line-height: 32px;
    }
  }

  .stocks__best {
    min-height: 598px;
    align-items: flex-start;
    background-image: url("../img/stocks-mobile@1x.jpg");
    background-position: center bottom;
    background-size: 290px 299px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stocks-mobile@2x.jpg");
    }
  }

  .stocks__container {
    flex-wrap: wrap;
  }

  .stocks__friend,
  .stocks__discount {
    text-align: center;
    width: 100%;
  }
}
